
<body id="bodyid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin: -5%;padding: 10%;padding-left: 18%;">
                    <div class="panel panel-primary" id="paneledit">
                    <div class="panel-heading">
                        <strong>Profil Ayarları</strong>
                    </div>
                    <div class="panel-body">
          
                        <form action="/profil/test/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT">
                            <br>
                            <div class="input-group">
          
                                <span class="input-group-addon" aria-hidden="true"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" name="name" id="isim" class="form-control" placeholder="İsmi Değiştirin" value="{{user.name}}">
                            
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" name="tel" id="telefon" class="form-control" placeholder="Telefon numaranızı değiştirin." value={{user.tel}}>
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" name="mail" id="mail" class="form-control" placeholder="Mailinizi değiştirin." value="{{user.mail}}">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" name="password" id="parola" class="form-control" placeholder="Şifrenizi değiştirin." value="{{user.password}}">
                            </div>
                            
                            

                            <br><br>
                            <div class="input-group">
                                <label for="adres">Kapıda ödeme için adresi girin:</label>
                                <textarea name="address" id="address" cols="50" rows="5" class="form-control" maxlength="150">{{user.address}}</textarea>
                            </div>

                            <br><br>
                            <div class="form-group">
                                    <label for="profilResmiSec">Profil resmini değiştirmek için resmi yükleyin.*</label>
                                    <input type="file" class="form-control-file" name="picture" id="picture">
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>

                            <div class="form-group">
                                <br><br>
                                <label for="hesabiKapat">Hesabınızı kapatmak için alttaki butona tıklayın.</label>
                                <br>
                                <button type="button" class="btn btn-danger" id="hesabiKapa">Hesabı Kapat</button>
                            </div>

                            <div class="form-group">
                                <br>
                                <label for="">Süre bildirimi almak için tıklayın.</label>
                                <br>
                                <button type="button" class="btn btn-warning" id="bildirim">Süre Bildirimi</button>
                                <br>
                                <h6>Süre Bildirimi temsili olarak konulmuştur. Back-end tarafında kodlanacaktır.</h6>
                            </div>

                            <div class="form-group">
                                <a href="/" class="btn btn-danger" id="buton-anasayfa">Anasayfaya git</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const hesabiKapat = document.getElementById("hesabiKapa");

        hesabiKapat.addEventListener("click",run);

        function run(e)
        {
            if(confirm("Hesabı kapatmak istediğinizden emin misiniz?"))
            {
                console.log("Hesap kapandı.");
            }
            else
            {
                console.log("Hesap kapanmadı");
            }
        }


        // var header = document.querySelector("#header");
        // var menunav = document.querySelector("#menu-nav");

        const sureButon = document.getElementById("bildirim");
        var panel = document.getElementById("paneledit");

        // console.log(kontayner.children[0].children[0]);

        var newDiv = document.createElement("div");
        var closebuton = document.createElement("a");

        closebuton.href = "profil-ayarlari.html";
        closebuton.className = "btn btn-danger";
        closebuton.textContent = "Uyarıyı kapat";
        closebuton.id = "closebuton";

        newDiv.className = "popup";
        newDiv.id = "sureUyari";
        newDiv.textContent = "Kiraladığınız filmin süresinin bitmesine az bir zaman kaldı...";
        newDiv.appendChild(closebuton);

        // newDiv.style = "border: 5px solid green;width:320px;margin:0pxpadding:20px;";


        // kontayner.children[0].children[0].children[0].children[1].innerHTML = newDiv.outerHTML;

        sureButon.onclick = function ()
        {
            // header.setAttribute("style","opacity:0.5;filter:alpha(opacity=50)");
            // menunav.setAttribute("style","opacity:0.5;filter:alpha(opacity=50)");
            panel.replaceWith(newDiv);
            
        }

        const server = require("./server");
        const result = server.results;

        const adres = document.getElementById("adres");
        adres.textContent = result;
        console.log(server.result);

        // var sel = document.getElementById("input");
        // var paragraf = document.getElementById("prf");

        // var buton = document.getElementById("buton2");

        // buton.onclick = function ()
        // {
        //     paragraf.textContent = sel.options[sel.selectedIndex].text;
        // }
    </script>

</body>
</html>